 
# Игнорировать все временные файлы
*.obj
*.pdb
*.exe
*.dll
*.ipch

# Игнорировать все временные папки
build/
Debug/
Release/

# Игнорировать конфигурационные файлы Visual Studio
*.vcxproj.user
*.vcxproj.filters
*.suo
.vscode/
.idea/
*.vsidx
*.opendb
# Игнорировать временные файлы и папки IDE
*.log
*.tmp
